<div id="<%= dom_id comment %>" style="width: 400px; margin-bottom: 45px;">
  <p>
    <strong>User name title:</strong>
    <br>
    <%= comment.user_name_title %>
    <br>
    <%= comment.body_content %>
  </p>

</div>
