<div id="<%= dom_id answer %>">
  <p>
    <strong>User name:</strong>
    <%= answer.user_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= answer.description %>
  </p>

  <div>

   <%= image_tag answer.answer_img.url, height: 300 %>

  </div>

</div>
