<div id="<%= dom_id answer %>">
  <p>
    <strong>User name:</strong>
    <%= answer.user_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= answer.description %>
  </p>

  <p>
    <strong>Answer img:</strong>
    <%= answer.answer_img %>
  </p>

</div>
