<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Descroption:</strong>
    <%= task.descroption %>
  </p>

  <div>

   <%= image_tag task.image.url, height: 300 %>

  </div>

</div>
