<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks" %>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>

  <% end %>
</div>


