<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks" %>


<%
  set_meta_tags(
    title: "Задания",
    description: "Расшатай привычное представление о скучном дизайне вместе с РеДиз!",
    keywords: "дизайн, редизайн, референсы, вдохновение"
  )
%>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>

  <% end %>
</div>


