<div id="<%= dom_id theme %>" class="O_Theme_CardM">


<h1>
  <%= link_to theme.theme_title, theme %>
</h1>


  <%# <%= link_to "Edit this theme", edit_theme_path(@theme) %> 
  <%# <%= link_to "Back to themes", themes_path %>









</div>
