<p style="color: green"><%= notice %></p>

<% content_for :title, "Themes" %>

<% if user_signed_in? && current_user.admin?%>
  <%= link_to "New theme", new_theme_path %>
<% end%>

<br>
<br>
<br>




<div id="themes" class="C_Themes">
  
    <% @themes.each do |theme| %>
      <%= render theme %>
    <% end %>


</div>


