<p style="color: green"><%= notice %></p>


<%
  set_meta_tags(
    title: "Темы",
    description: "Расшатай привычное представление о скучном дизайне вместе с РеДиз!",
    keywords: "дизайн, редизайн, референсы, вдохновение"
  )
%>

<% content_for :title, "Themes" %>

<% if user_signed_in? && current_user.admin?%>
  <%= link_to "New theme", new_theme_path %>
<% end%>

<div class="M_ThemePageInfo">
  <h1>ТЕМЫ</h1>

  <p>В этом разделе вы найдете список актуальных тем и заданий 
    для редизайна. Выбирайте то, что вам по душе, берите задачу в работу <br> и делитесь своими креативными решениями. </p>
</div>


<div id="themes" class="C_Themes">
    <% @themes.each do |theme| %>
      <%= render theme %>
    <% end %>
</div>


