<p style="color: green"><%= notice %></p>

<%= render @theme %>

<br>
<br>
<br>
<br>


<div class="A_NewTask Button">
  <%= link_to "Новый таск", new_task_path %>
</div>



<div class="C_Theme_Tasks">
  <div id="tasks" class="O_TaskCardS">
    <% @theme.tasks.each do |task| %>
      <%= render task %>
    <% end %>
  </div>
</div>

