<p style="color: green"><%= notice %></p>

<%= render @theme %>

<br>
<br>
<br>
<br>
<%
  set_meta_tags(
    title: "Темы",
    description: "Расшатай привычное представление о скучном дизайне вместе с РеДиз!",
    keywords: "дизайн, редизайн, референсы, вдохновение"
  )
%>

<div class="A_NewTask Button">
  <%= link_to "добавить таск", new_task_path %>
</div>



<div class="C_Theme_Tasks">
  <div id="tasks" class="O_TaskCardS">
    <% @theme.tasks.each do |task| %>
      <%= render task %>
    <% end %>
  </div>
</div>

