<p style="color: green"><%= notice %></p>

<div class="M_ThemePage">
<%= render @theme %>
</div>

<%
  set_meta_tags(
    title: "Темы",
    description: "Расшатай привычное представление о скучном дизайне вместе с РеДиз!",
    keywords: "дизайн, редизайн, референсы, вдохновение"
  )
%>
<div class="A_NewTask">
  <% if user_signed_in? %>
    <div class="ButtonAction">
      <%= link_to "Добавить таск", new_task_path(theme_id: @theme.id) %>
    </div>
    <%end%>
</div>




<div class="C_Themes">
    <% @theme.tasks.each do |task| %>
      <%= render task %>
    <% end %>
</div>

