<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>  

    <div class="M_Tutorial">
         <div class="A_TutorialTitle">
            <h2>обновились</h2>
            <p>и стали только круче</p>
        </div>
   
        <div class="A_TutorialBanner">
            <%= image_tag("Instruction.png", alt: "Картинка логотипа") %>

             <div class="M_TutorialText">
                <h2>мы устроили себе тотальный редизайн</h2>
                <p>чтобы вы творили <br> с большим удвольствием</p>
            </div>

        </div>
    </div>

    <div class="C_MainContainer">
    </div>    
    
       
    <div>

    </div>

</body>
</html>