<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div class="M_Banner">
        <div class="A_Banner_Shirt1 shake-vertical">
            <%= image_tag("shirt_white.png", alt: "Banner Image")%>
        </div>

        <div class="A_Banner_Shirt2 shake-vertical2">
            <%= image_tag("shirt_black.png", alt: "Banner Image")%>
        </div>

            
        <%= image_tag("A_Banner_Img.png", alt: "Banner Image")%>

    </div>

    <div></div>

</body>
</html>