<p style="color: green"><%= notice %></p>

<% content_for :title, "Answers" %>

<%= render 'application/menubar'%>

<h1>Answers</h1>

<div id="answers" class="W_Answers">
  <% @answers.each do |answer| %>
    <%= render answer %>
  <% end %>
</div>

<%= link_to "New answer", new_answer_path %>
