<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<div class="M_Blog_Cover">
  <h1>Наш блог!</h1>
</div>

<%# Тут мы пастроим самса *зачеркнуто* задел на неймспейс админки %>


<% if user_signed_in? && current_user.admin? %>
  <%= link_to "New post", new_post_path %>  
<%end%>


<br>
<br>


<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>


