.W_Answers {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 1.04vw;
    grid-row-gap: 1.56vw;


}

.W_TaskAnswers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2.5rem;
    grid-row-gap: 1.5rem;

    margin-left: 163px;

    .C_AnswerCard {
        .M_AnswerTXT{
            display: none;
        }
    }
}



.C_AnswerCard {
    overflow: hidden;
    /* grid-column: span 2; */

    height: fit-content;
    background: var(--Disco-Sneg, #EEF1FF);


    display: flex;
    flex-direction: column;
}

.C_AnswerCard:hover {
    background: #d6ddff;
}


.C_AnswerContent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .M_AnswerTopC {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.M_AnswerTxtContent {
    padding: 0;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
        margin-top: 5.21vw;

        color: var(--disco_sneg);
        text-decoration: none;

        font-family: "Golos";

        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
    }

    img {
        width: 28px;
        height: 28px;
    }

}

.A_AnswerTitle {
    font-family: "Golos";
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    color: var(--vitamin_pink, #e01067);

    height: fit-content;
    width: fit-content;

    border: 3px solid var(--Vitamin-Pink, #E01067);
    background: var(--Disco-Sneg, #EEF1FF);

    padding: 9.015px 13.523px;
    align-items: center;
    gap: 9.015px;
}


.A_AnswerImg {
    overflow: hidden;
    /* display: flex;
    flex-direction: row; */
    height: 18rem;

    justify-content: center;
    align-items: center;

    img {
        /* object-fit: cover; */
        width: 100%;
    }

}

.A_TaskAnswersAdd {
    display: flex;
    flex-direction: column;
    height: 360px;
    gap: 30px;

    padding: 0px 196px 0px 197px;
    justify-content: center;
    align-items: center;

    background: #F2C8DC;

    a {
        color: #E01067;

        font-family: "Golos";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 11.404px;
    }
}