body {
    font-family: "Golos";
    size: 1.2rem;
    margin: 24px 80px;

    background-color: var(--disco_sneg, #EEF1FF);

}

p {
  color: var(--chernozem, #211F20);

}

h1 {
  color: var(--chernozem, #211F20);
  font-family: "SongerSEMed";
  font-size: 12rem;
  font-style: normal;
  font-weight: 500;
}

h2 {
  color: var(--chernozem, #211F20);
  font-family: "SongerSEMed";
  font-size: 10rem;
  font-style: normal;
  font-weight: 500;
}

h3 {
  color: var(--chernozem, #211F20);
  font-family: "SongerSEMed";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
}



h4 {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 800;
  font-family: "Golos";
  color: var(--chernozem, #211F20);;
}

a {
  color: var(--chernozem, #211F20);;
  text-decoration: none;
}

a:hover {
  color: var(--hover);
  text-decoration: none;
}

input {
  background-color: #E2E7FF;
  border: none;
  width: 548px;
  height: 20px;
  padding: 10px;


}

input::placeholder {
  color: #92A5FF;
  font-size: 16px;
  font-family: "Golos";

}


form.new_user {
  width: fit-content;
  margin: 0 auto;

}
.A_Button {
  display: flex;
  width: 197px;
  padding: 4px 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid var(--Vitamin-Pink, #E01067);

  input {
      
      padding: 0px;
      font-family: "Golos";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      color: var(--Vitamin-Pink, #E01067);
      height: fit-content;
      background-color: var(--disco_sneg, #EEF1FF);
  }
}

.W_TaskAnswers {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 36px;

    .C_AnswerCard {
        .M_AnswerTXT{
            display: none;
        }
    }
}

.shake-vertical {
	-webkit-animation: shake-vertical 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-vertical 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.shake-vertical2 {
	-webkit-animation: shake-vertical2 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) -2s infinite both;
	        animation: shake-vertical2 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) -2s infinite both;
}

.M_Banner {
    width: 91.61vw;
    height: 32.4vw;
    overflow: hidden;
    position: relative;

    .A_Banner_Shirt1 {
        margin-left: -10%;
        img {
            position: absolute;
        }
    }

    .A_Banner_Shirt2 {
        margin-left: 58%;
        img {
            position: absolute;
        }
    }

    img {
      object-fit: cover;
    }


    /* .A_Banner_Shirts:nth-child(1){
        margin-left: -10%;
    }

    .A_Banner_Shirts:nth-child(2){
        margin-left: 58%;
    } */

}

.Button {
  font-size: 1.2rem;
  width: fit-content;
  padding: 0.4rem 0.7rem;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
  
  font: "Golos";
  border: 3px solid var(--disco_sneg, #EEF1FF);
}


@-webkit-keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
  @keyframes shake-vertical2 {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
/* some comment */