@font-face {
    font-family: 'Bricolage';
    src: url('BricolageGrotesque.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Golos';
    src: url('GolosText.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'SongerCbold';
    src: url('SONGER_C_Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: bold;
  }
@font-face {
    font-family: 'SongerCExtrabold';
    src: url('SONGER_C_ExtraBold.woff2') format('woff2');
    font-weight: 400;
    font-style: extrabold;
  }
@font-face {
    font-family: 'SongerCHeavy';
    src: url('SONGER_C_Heavy.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'SongerSEMed';
    src: url('SONGER_SE_Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

