@font-face {
    font-family: 'Bricolage';
    src: url('BricolageGrotesque.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Golos';
    src: url('GolosText.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }