.M_Menubar {
    width: 100%;
    margin: 0 0 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Golos';
    font-weight: 500;
    font-size: 1.2rem;

    a {
        font-family: "SongerSEMed";
        font-weight: 400;
        font-size: 1rem;
    }

    a:hover {
        color: var(--hover);
        transition: 0.3s;
    }

    .M_LoginSets {
        display: flex;
        flex-direction: row;
        gap: 1.4rem;
        align-items: center;

    }
    

    a {
        color: var(--chernozem, #211F20);
        text-decoration: none;
    }

    .M_LinksHeader {
        display: flex;
        flex-direction: row;
        gap: 4.4rem;
        justify-content: space-between;
        padding-right: 34rem;
        margin-left: 3rem;
    }

}

.A_AccentMenu {
    display: inline-flex;
    padding: 0.7rem 1.3rem;
    justify-content: center;
    align-items: center;

    background: var(--Chernozem, #211F20);

    a {
        color: var(--Disco-Sneg, #EEF1FF);
    }

}