.M_Menubar {
    width: 100%;
    margin: 0 0 60px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Golos';
    font-weight: 500;
    font-size: 1.2rem;

    a:hover {
        color: var(--hover);
        transition: 0.3s;
    }

    .M_LoginSets {
        a {
            margin: 1rem;
        }

    }
    

    a {
        color: var(--disco_sneg);
        text-decoration: none;
    }

}