.A_TaskTitle {
    font-family: "Golos";
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    color: var(--vitamin_pink, #e01067);

    height: fit-content;
    width: fit-content;

    border: 3px solid var(--Vitamin-Pink, #E01067);
    background: var(--Disco-Sneg, #EEF1FF);

    padding: 9.015px 13.523px;
    align-items: center;
    gap: 9.015px;
}

.A_TaskText {

    width: 20.73vw;

    font-family: "Golos";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4; 
    -webkit-box-orient: vertical;

    margin-bottom: 6.77vw;
}

.O_TaskCardM {
    overflow: hidden;

    height: 380px;
    display: flex;
    flex-direction: column;




    /* background: var(--disco_sneg); */
    background: gray;
}

.O_TaskCardM:hover{
    background: #333031;
}






.M_TaskTxtContent {
    padding: 0;
    height: fit-content;
    /* width: 100%;

    /* width: 20.31vw; */
    /* margin-right: 2.71vw; */
    /* display: flex;
    flex-direction: row; */
    justify-content: space-between;

    a {
        margin-top: 5.21vw;

        color: var(--disco_sneg);
        text-decoration: none;

        font-family: "Golos";

        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
    }

}

.A_TaskImg {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 310px;

    justify-content: center;
    align-items: center;

    img {
        /* object-fit: cover; */
        width: 100%;
    }

}

.A_UserNameLink {
    padding: 8px 0;
}