.C_Theme_Tasks {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.O_Theme_CardM {
    /* width: 1760px;
    height: 464px; */
    overflow: hidden;


    h1 {
        /* padding-top: 11rem; */

    }
}


.C_Themes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 48px;

    margin-left: 163px;

    .O_Theme_CardM {
        grid-column: span 1;

        background: var(--Disco-Sneg, #EEF1FF);


        h1 {
            font-size: 62px;

            a:hover {
                color: #E01067;
            }
        }
    }

    .O_Theme_CardM:hover {
        background: #d6ddff;
    }
}

.Show_Page {

}

.A_ThemeCover {

    img {
        width: 100%;
        object-fit: cover;
    }

}


.M_ThemeText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        font-size: 22px;
        align-content: center;
        text-align: center;
    }
}

.A_NewTask {
    margin: 1.5rem 0 3rem;
    display: flex;
    justify-content: end;
}

.M_ThemePageInfo {
    margin-left: 163px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1.8rem;

    h1 {
        font-size: 4.8rem;
    }

    p {
        width: 567px;
    }
}

.M_ThemePage {
    margin-left: 163px;

    h1 {
        font-size: 96px;
    }

    p {
        font-size: 40px;
    }

    img {
        display: none;
    }

    a:hover {
        color: #211F20;
    }

}