
<ul>
  <li><%= link_to 'Главная', root_path %></li>
  <li><%= link_to 'Темы (сечас задания)', tasks_path %></li>
  <li><%= link_to 'Блог (сейчас ответы)', answers_path %></li>
  <li><%= link_to 'О нас' %></li>
</ul>