<div class="W_Footer">
    <div class="A_Divider"></div>

    <div class="M_Infoblock">
        <div class="A_Made_By">
            <h4>Made by</h4>
            <p>@varvaraseven</p>
            <p>@rootah</p>
            <p>@gabuevaaa</p>
        </div>

        <div class="A_Curated_By">
            <h4>Curated by</h4>
            <p>Zakhar Day</p>
            <p>Vadim Bulgakov</p>
        </div>

        <div class="A_Smm">
            <h4>Follow us</h4>
            <div class="Telegram">
                <%= image_tag("telegram-outline.png", alt: "telegram follow") %>
                <a href="https://t.me/rediz_media">redis_media</a>
            </div>
            <div class="Git">
                <%= image_tag("github.png", alt: "github follow") %>
                <a href="https://github.com/VarvaraGlushkova/Redis_App">github repository</a>
            </div>
        </div>

        <h3>HSE ADC COMMUNITY</h3>
    </div>

    <div class="M_Additional">
        <div class="A_SubAgit">

        </div>

        <div class="A_LogoGrand">

        </div>

    </div>

</div>