<div class="W_Footer">
    <div class="A_Divider"></div>

    <div class="M_Infoblock">

        <div class="A_Smm">
            <h4>follow us</h4>
            <div class="Telegram">
                <%#= image_tag("telegram-outline.png", alt: "telegram follow") %>
                <a href="https://t.me/rediz_media">redis_media</a>
            </div>
            <div class="Git">
                <a href="https://github.com/VarvaraGlushkova/Redis_App">github repository</a>
            </div>
        </div>

        <div class="A_FooterLogo">
            <%= image_tag("logo_footer.png", alt: "telegram follow") %>
        </div>


        <div class="A_Made_By">
            <h4>made by</h4>
            <p>@varvaraseven</p>
            <p>@rootah</p>
            <p>@gabuevaaa</p>
        </div>

        <div class="A_Curated_By">
            <h4>curated by</h4>
            <p>Zakhar Day</p>
            <p>Vadim Bulgakov</p>
        </div>
    </div>

    <div class="M_Additional">

    </div>

</div>